#eventWrapper{
  width: 250px;
  height: 150px;
}

.row {
  max-width: 100%;
  margin-left: 4px;
}

img {
  border-radius: 20px;
  margin: 10px;
  display: inline-block;
}

.textbox {
  text-align: left;
  width: 50%;
  display: inline-block;
}
