
.InsideEvent {
  text-align: center;
}

.camera-btn {
  background-color: Transparent;
  border-width: 0px;
  position: fixed;
  bottom: 30px;
}

.camera-btn img {
  display: inline;
  width: 50px;
}
