
.InsideEvent {
  text-align: center;
}


.camera-btn {
  margin-left: -30px;
  background-color: Transparent;
  border-width: 0px;
  position: fixed;
  bottom: 30px;
}

.camera-btn img {
  display: inline;
  width: 50px;
}


#carousel{
  position: center;
}

#carouselWrapper{
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

.carousel .slide{
  background-color: Transparent !important;
}

.carousel.carousel-slider{
  display: inline-block;
}

#cameraWrapper{
  display: block;
  text-align: center !important;
  margin-top: 100px;
}

.camera-btn{
  display: block;
  margin: 0 auto;
}

.slide{
  padding: 15px;
}
