
.DisplayEvent {
  text-align: center;
}
.event-container {
  margin-top: 15px;
  display: inline-block;
  width: 80%;
  text-align: left;
}

.small-btn {
  margin-right: 20px;
  padding: 4px 15px 4px 15px;
}

.horizontal-line {
  width: 100%;
}
