
#submit-container {
  padding-top: 5%;
}

#submit-container input {
  width: 30%;
  border-bottom: none;
  border-radius: 30px;
  background-color: Transparent;
  color: #FFFFFF;
  border-color: #FFFFFF;
  border-style: solid;
  border-width: 2px;
}
