
#menu-btn {
  float: right;
  padding: 20px 25px 0px 0px;
}

#back-btn-container {
  float:left;
  padding: 20px 0px 0px 20px;
}


#appname-container {
  display: inline-block;
  padding-top: 20px;
  font-size: 24px;
}

#appname-container-left {
  display: inline-block;
  float:left;
  padding-top: 20px;
  font-size: 24px;
}

.NavBar {
  text-align: center;
  overflow: hidden;
  padding-bottom: 20px;
}
